<TabView androidTabsPosition="bottom" selectedTabTextColor="#3f7cff" androidSelectedTabHighlightColor="#838384">

  <page-router-outlet
      *tabItem="{title: 'Home'}"
      name="homeTab">
  </page-router-outlet>
  <page-router-outlet
      *tabItem="{title: 'Dash'}"
      name="dashTab">
  </page-router-outlet>
  <page-router-outlet
      *tabItem="{title: 'Groups'}"
      name="groupsTab">
  </page-router-outlet>
  <page-router-outlet
      *tabItem="{title: 'Profile'}"
      name="profileTab">
  </page-router-outlet>

</TabView>
